@font-face{
    font-family: Montserrat;
    src:url(../font/Montserrat/static/Montserrat-SemiBold.ttf)
}

*{
    font-family: Montserrat;
    background-color: rgb(3, 0, 48);; 
    color:white;
    

}

button{
    
    border:1px solid rgba(3, 0, 48, 0.692);
    color:black;
    background-color: rgba(255, 255, 255, 0.671);
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
    font-size: 17px;

    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    
    
  }
 
  button:active{
    transform: translateZ(-25px) rotateX(-90deg);
  }

  #retour{
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    flex-wrap: wrap;
}

#retour a{
    text-decoration: none;
}